body{
    background: rgb(109, 187, 213);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myh5{
    font-size: 50px;
    font-family: 'Sans serif';
    border-style: outset;
    cursor: default;
}

#myh6{
    font-family: 'Comic Sans MS';
    font-size: 16px;
    font-style: 'italic';
    cursor: default;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 6px double;
    border-radius: 30px;
    padding: 30px;
    background-color: rgb(187, 97, 197);
}

#display{
    font-size: 45px;
    font-family: Verdana;
    color: hsl(0, 0%, 5%);
    text-shadow: 0.5px 0.5px 0.5px;
    margin-bottom: 15px
}

#controls button{
    font-size: 18px;
    font-weight: bold;
    padding: 7.5px 15px;
    min-width: 100px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: black;
    transition: background-color 0.25s ease
}

#StartBtn{
    background-color: green;
}

#StartBtn:hover{
    background-color: rgb(40, 200, 40);
}

#StopBtn{
    background-color: red;
}

#StopBtn:hover{
    background-color: rgb(240, 50, 50);
}

#ResetBtn{
    background-color: blue;
}

#ResetBtn:hover{
    background-color: rgb(40, 90, 250);
}
